* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: #1D2D3C;
}

header {
    background-color: #06131F;
}

.container {
    width: 1080px;
    margin: 0 auto;
    height: 100%;
}

header {
    height: 80px;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left img {
    display: block;
    height: 40px;
}

.header-right select {
    height: 40px;
    padding: 6px;
}

#discs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.disc {
    flex-basis: calc(100% / 4);
    flex-grow: 0;
    margin: 30px;
    padding: 20px;
    border-radius: 6px;
    background: #112030;
    color: white;
    text-align: center;
}

.disc img {
    margin-bottom: 20px;
    max-width: 80%;
}

.disc strong, .disc small {
    display: block;
    margin: 10px 0;
}